<head>
  <!--**FONT**-->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= siteTitle %> | <%= pageTitle %>
  </title>

  <!--**FONT PRECONNECT, CSS & JAVASCRIPT DIRECTORIES **-->

  <!--**FONT**-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!--**CASCADING STYLE SHEETS**-->
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/404.css">
  <!--**JAVASCRIPT**-->
  <script src="/js/client.js" defer></script>

</head>