<!DOCTYPE html>
<html lang="en">

<head>
  <!--**FONT**-->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CPNT 262 - A5 - Joseph Butcher</title>

  <!--**FONT PRECONNECT, CSS & JAVASCRIPT DIRECTORIES **-->

  <!--**FONT**-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!--**CASCADING STYLE SHEETS**-->
  <link rel="stylesheet" href="/public/css/main.css">
  <link rel="stylesheet" href="/public/css/404.css">
</head>

<body>
  <main>

    <div class="error">
      <h2>HA HA YOU MADE IT!!!</h2>
      <h2>JOES CUSTOM 404 PAGE</h2>
      <img class="displayed" src="/public/images/king-size-homer.jpg" alt="Photo of homer simpson in a dress">
    </div>


  </main>

  <footer>
    <p>&copy;Joseph Butcher Studios 2021</p>
  </footer>

</body>

</html>